.header-main {
    height: 446px;
    display: flex;
    background-color: black;
    padding: 3.5rem 0 2.5rem 0;
    justify-content: center;
    color: white;
}

.header-main__description {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 600px;
}

.header-main__image img {
    height: 350px;
}

.header-main__description-intro {
    color: #0078FF;
    margin-bottom: 16px;
}

.header-main__description-title {
    font-size: 40px;
    line-height: 1.4;
}

.header-main__description-sub {
    margin: 50px 0px 32px 0px;
    font-size: 20px;
    color: #E9ECF3;
    font-weight: 300;
    line-height: 1.6;
    opacity: 0.9;
}

.header-main a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 42px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 13px 9px 13px;
    background-color: #0078FF;
    border-color: #0078FF;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.header-main a:hover {
    background-color: #1C54F4;
}